{vm_name,"pod_computer_1"}.
{vm,pod_computer_1@asus}.
{ip_addr,"localhost"}.
{port,40100}.
{mode,parallell}.
{worker_start_port,40101}.
{num_workers,5}.
{source,{dir,"/home/pi/erlang/d/source"}}.
{services_to_load,["lib_service","adder_service"]}.
{files_to_keep,[".git","Makefile","computer.config","boot_service","include",
                "lib_service","ebin","test_ebin"]}.
{master_dns,{"localhost",portGlurk}}.
